<!--The content below is only a placeholder and can be replaced.-->
<h1 *ngIf="selectedUser">Hello {{selectedUser.userName}}</h1>
<form>
<input [(ngModel)]="name" type="name" name="userName" placeholder="User Name">
<input [(ngModel)]="password" type="text" name="userPassword" placeholder="Password">
<button (click)="createUser(name, password)" type="button">Register New User</button>
<button (click)="loginUser(name, password)" type="button">Login!</button>
</form>


<!-- <h4>{{user.userName}}</h4> -->
<div *ngIf="selectedUser" class="">
  <h5>Choose Kegs:</h5>
  <ul>
    <li (click)="displayKeg(keg)" *ngFor="let keg of kegs"> {{keg.kegName}} - {{keg.brand}} ({{keg.alchoholContent}}) (${{keg.price.toFixed(2)}}) <br>
      ${{keg.price}} <br>
      {{keg.quantity}} pints left! <br><br>
    </li>
  </ul>

  <div *ngIf="currentKeg">
    <input min="1" [(ngModel)]="quantity" type="number" name="quantity">
    <button (click)="currentKeg.sellPint(quantity)">Sell Pint</button>
    <div *ngIf="currentKeg.message">
      {{currentKeg.message}}
    </div>
  </div>
</div>
