<!--The content below is only a placeholder and can be replaced.-->
<h1 *ngIf="selectedUser">Hello {{selectedUser.userName}}</h1>
<form>
<input [(ngModel)]="name" type="name" name="userName" placeholder="User Name">
<input [(ngModel)]="password" type="text" name="userPassword" placeholder="Password">
<button (click)="createUser(name, password)" type="button">Register New User</button>
<button (click)="loginUser(name, password)" type="button">Login!</button>
</form>


<!-- <h4>{{user.userName}}</h4> -->
<div *ngIf="selectedUser" class="">
  <h5>Choose Products:</h5>
  <ul>
    <li (click)="displayProduct(product)" *ngFor="let product of products"> {{product.productName}} (${{product.price.toFixed(2)}})
    </li>
  </ul>

  <div *ngIf="currentProduct">
    <input [(ngModel)]="quantity" type="number" name="quantity">
    <button (click)="selectedUser.addProduct(currentProduct, quantity)">Add to cart</button>
  </div>
</div>
